@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: inter;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.paytm-header {
    width: 80% !important;

}

.paytm-header-bg {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(0, 41, 112, .1);
    box-shadow: 0 5px 20px rgba(0, 41, 112, .1);

}

.paytm-header-navbar {
    font-weight: 600;
    font-size: 14px;
    color: black !important;
}

.paytm-header-navbar a {
    padding: 10px 12px !important;
}

.nav-link {
    color: black !important;
}

.download_icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.download_icon_row {
    padding: 8px 16px;
    border-radius: 18px;
    margin-right: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #002970;
    font-weight: 600;
}

.sigin_row {
    padding: 2px 15px 2px 2px;
    background: #002970;
    border-radius: 18px;
    min-width: 90px;
    max-width: 115px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.sigin_img {
    border-radius: 50%;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.rightside {
    display: flex;
}

/* Footer */

footer {
    background: #fff;
    font-family: inter;
}

.paytm-footer {
    width: 80% !important;
    margin: 40px 0px;
}

.line {
    margin-top: 40px;
}

.copysocial {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-size: 14px;
    color: #707070;
    font-weight: 500;
}

.social a {
    text-decoration: none;
    color: rgb(255 255 255) !important;
    margin-left: 15px;
}

.social {
    display: flex;
}

.footerline::before {
    background: #00baf2;
}

.footerline::after {
    background: #002970;
}

.footerline:after,
.footerline:before {
    height: 14px;
    content: "";
    display: block;
}

.paytmbusiness {
    padding: 16px 0;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
}

.row_style {
    width: 80% !important;
    border-radius: 20px;
    background-color: #fff;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 52px 74px 52px 100px;
}

.paytmbusiness_img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    max-width: 475px;
    max-height: 440px;
}

.img_bus_row {
    margin-bottom: 12px;
    max-width: 150px;
    max-height: 50px;
}

.patmbusiness_heading {
    margin-bottom: 18px;
    font-size: 40px;
    color: #000;
    font-weight: 700;
}

.patmbusiness_p {
    margin-bottom: 32px;
    font-size: 17px;
    color: #000;
    font-weight: 500;
}

.patmbusiness_btn span {
    font-size: 16px;
    font-weight: 600;
    background-color: #002970;
    padding-top: 6px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 35px;
    color: #fff;
}


.patmbusiness_btn a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.card_row_style {
    width: 80% !important;
    flex-wrap: nowrap !important;
}

.credit-card {
    padding: 50px 50px 20px !important;
    border-radius: 20px;
    background-color: #fff;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}

.patymcard {
    display: flex;
    justify-content: center;
    background-color: #f7f9fc
}

.card-btn a {
    font-weight: 600;
    border: 1px solid;
    color: #002970;
    padding-top: 6px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border-color: #002970;
    text-decoration: none;
    cursor: pointer;
}

.card-image {
    margin: 20px 0;
    -o-object-fit: fill;
    object-fit: fill;
    align-self: center;
    width: 100%;
    height: 335px;
    max-width: 425px;

}

.insurance {
    padding: 50px 50px 20px !important;
    background-color: #fff;
    border-radius: 20px;
}

.onebannerrow {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-color: #f7f9fc;
}

.onebannerrowa {
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.onebannerrow-img {
    margin-right: 20px;
    width: 46px;
    height: 46px;
}

.banner-btn {
    font-weight: 600;
    border: 1px solid;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.banner-text {
    flex: 1 1;
    margin-right: 15px;
}

.paytm-money {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-color: #f7f9fc;
}

.paytm-money-row {
    border-radius: 20px;
    background-color: #fff;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
}

.paytm-money-col {
    padding: 20px 0 20px 100px;
}

.paytm-money-col-2 img {
    object-fit: fill;
    width: 100%;
    height: auto;
}

.recharge-bills-rows {
    gap: 20px;
}

.recharge-bills {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-color: #f7f9fc;
}

.recharge,
.bills {
    background-color: #fff;
    border-radius: 20px;
    padding: 12px;
}

.recharge-main p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

.recharge-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    align-items: self-start;
}

.recharge-card .recharge-card-item img {
    width: 48px;
    height: 48px;
}

.recharge-card .recharge-card-item .recharge-card-ahref {
    flex: 1 1;
    padding: 25px 0;
    box-sizing: border-box;
    margin-right: 10px;
    text-align: center;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.recharge-card .recharge-card-item .recharge-card-ahref:hover {
    box-shadow: 0 15.96px 53.83px 0 rgba(184, 185, 228, .4), 1px 1px 0 0 #fff;
    cursor: pointer;
}

.recharge-card .recharge-card-item .recharge-card-ahref span {
    max-width: 80px;
    margin-top: 16px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.footer-accordion-tab {
    gap: 12px;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #707070;
    font-weight: 700;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    text-decoration: none;
}

.footer-accordion-tab::before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #ccc;
}

.footer-accordion-content {
    display: none;
}


.footer-accordion-text {
    font-size: 12px;
    color: #505050;
    font-weight: 400;
    line-height: 20px;
}

.plus {
    transform: rotate(45deg);
}

.booking-enquiry {
    background-color: #e8f8fd;
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.booking-enquiry-rows {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.booking-enquiry-tab {
    display: flex;
    flex-wrap: nowrap;
}

.booking-enquiry-tab a {
    width: 72px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.btab:after {
    content: "";
    display: block;
    background: #00baf2;
    width: 100;
    height: 2px;
}

.booking-enquiry-tab-item {
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 11px;
}

.booking-enquiry-tab-item img {
    margin-bottom: 3px;
    width: 38px;
    height: 38px;
}

.booking-enquiry-span {
    font-size: 12px;
    color: #101010;
    font-weight: 600;
    line-height: 15px;
}

.investment {
    font-size: 12px;
    color: #707070;
    font-weight: 500;
}

.paytmtravelimg {
    width: 140px;
    height: 21px;
}

.paytmtravelrow {
    align-items: flex-end;
    justify-content: right;
}

.booking-enquiry-content {
    padding: 20px 0 16px 20px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    margin-top: 8px;
    border-radius: 12px;
}

.tripway {
    width: 100%;
}

.oneway {
    margin-right: 36px;
}

.roundtrip {
    margin-right: 36px;
}

.oneway .roundtrip {

    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.search {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 12px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.fromto {
    position: relative;
    flex-basis: 39%;
    padding-right: 15px;
    border-right: 1px solid #cacaca;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.from .to {
    font-size: 12px;
    color: #7e7e7e;
    font-weight: 400;
    width: 182px;
    display: flex;
    flex-direction: column;
}

.fromtext {
    font-size: 12px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 400;
    line-height: 16px;
}

.cityname {
    font-size: 16px;
    color: #101010;
    font-weight: 600;
    line-height: 24px;
    padding: 2px 0;
    display: flex;
}

.triparrow {
    margin: 0 8px 2px 4px;
    width: 24px;
    height: 24px;
}

.departreturn {
    padding: 0 10px 0 16px;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-basis: 35%;
    border-right: 1px solid #cacaca;
}

.depart {
    flex-basis: 45%;
    padding-right: 16px;
    border-right: 1px solid #cacaca;
    font-size: 12px;
    color: #7e7e7e;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    flex-direction: column;
}

.return {
    font-size: 12px;
    color: #7e7e7e;
    font-weight: 400;
    line-height: 16px;
    flex-basis: 52%;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.returntext {
    padding: 3px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00baf2;
}

.pclass {
    flex-basis: 22%;
    padding-right: 0;
    border-right: none;
    position: relative;
    padding: 0 10px 0 16px;
    display: flex;
    align-items: flex-end;
}

.pclassrow {
    flex-basis: 100%;
    padding-right: 0;
    border-right: none;
    font-size: 12px;
    color: #7e7e7e;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    flex-direction: column;
}

.pinput {
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inputtext {
    padding: 3px 0;
    font-size: 16px;
    color: #101010;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.searchrow {
    padding-right: 20px;
}

.searchbtn {
    background: #00baf2;
    color: #fff;
    font-size: 16px;
    height: 52px;
    width: 154px;
    border-radius: 8px;
    font-weight: 700;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
}

.specialfare {
    padding-top: 10px;
    transition: height .25s ease-in-out;
    /* height: 48px;
    overflow: hidden; */
}

.farerow {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.fareh {
    padding-right: 12px;
    font-size: 14px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 500;
    line-height: 16px;
}

.farec {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.farec span {
    margin-left: 5px;
    font-size: 12px;
    color: #27ae60;
    font-weight: 600;
    line-height: 16px;
}

.farebtn {
    border: 1px solid hsla(0, 0%, 6%, .13);
    padding: 7px 12px;
    border-radius: 8px;
    margin: 0 8px 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 500;
    line-height: 20px;
}
.btntext {
    font-size: 12px;
    color: #101010;
    font-weight: 600;
    line-height: 16px;
}
.off {
    font-size: 10px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 600;
    line-height: 16px;
}

