@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: inter;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.paytm-header {
    width: 80% !important;

}

.paytm-header-bg {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(0, 41, 112, .1);
    box-shadow: 0 5px 20px rgba(0, 41, 112, .1);

}

.paytm-header-navbar {
    font-weight: 600;
    font-size: 14px;
    color: black !important;
}

.paytm-header-navbar a {
    padding: 10px 12px !important;
}

.nav-link {
    color: black !important;
}

.download_icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.download_icon_row {
    padding: 8px 16px;
    border-radius: 18px;
    margin-right: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #002970;
    font-weight: 600;
}

.sigin_row {
    padding: 2px 15px 2px 2px;
    background: #002970;
    border-radius: 18px;
    min-width: 90px;
    max-width: 115px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.sigin_img {
    border-radius: 50%;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.rightside {
    display: flex;
}

/* Footer */

footer {
    background: #fff;
    font-family: inter;
}

.paytm-footer {
    width: 80% !important;
    margin: 40px 0px;
}

.line {
    margin-top: 40px;
}

.copysocial {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-size: 14px;
    color: #707070;
    font-weight: 500;
}

.social a {
    text-decoration: none;
    color: rgb(255 255 255) !important;
    margin-left: 15px;
}
.social {
    display: flex;
}

.footerline::before{
    background: #00baf2;
}

.footerline::after {
    background: #002970;
}

.footerline:after, .footerline:before {
    height: 14px;
    content: "";
    display: block;
}

.paytmbusiness {
    padding: 16px 0;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
}

.row_style {
    width: 80% !important;
    border-radius: 20px;
    background-color: #fff;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 52px 74px 52px 100px;
}

.paytmbusiness_img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    max-width: 475px;
    max-height: 440px;
}

.img_bus_row {
    margin-bottom: 12px;
    max-width: 150px;
    max-height: 50px;
}

.patmbusiness_heading {
    margin-bottom: 18px;
    font-size: 40px;
    color: #000;
    font-weight: 700;
}
.patmbusiness_p {
    margin-bottom: 32px;
    font-size: 17px;
    color: #000;
    font-weight: 500;
}
.patmbusiness_btn span {
    font-size: 16px;
    font-weight: 600;
    background-color: #002970;
    padding-top: 6px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 35px;
    color: #fff;
}


.patmbusiness_btn a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.card_row_style {
    width: 80% !important;
    flex-wrap: nowrap !important;
}
.credit-card {
    padding: 50px 50px 20px !important;
    border-radius: 20px;
    background-color: #fff;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}
.patymcard {
    display: flex;
    justify-content: center;
    background-color: #f7f9fc
}

.card-btn a {
    font-weight: 600;
    border: 1px solid;
    color: #002970;
    padding-top: 6px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border-color: #002970;
    text-decoration: none;
    cursor: pointer;
}

.card-image {
    margin: 20px 0;
    -o-object-fit: fill;
    object-fit: fill;
    align-self: center;
    width: 100%;
    height: 335px;
    max-width: 425px;
    
}
.insurance{
    padding: 50px 50px 20px !important;
    background-color: #fff;
    border-radius: 20px;
}

.onebannerrow {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-color: #f7f9fc;   
}
.onebannerrowa {
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.onebannerrow-img {
    margin-right: 20px;
    width: 46px;
    height: 46px;
}

.banner-btn {
    font-weight: 600;
    border: 1px solid;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.banner-text {
    flex: 1 1;
    margin-right: 15px;
}

.paytm-money {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-color: #f7f9fc;
}

.paytm-money-row {
    border-radius: 20px;
    background-color: #fff;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
}

.paytm-money-col {
    padding: 20px 0 20px 100px;
}

.paytm-money-col-2 img{
    object-fit: fill;
    width: 100%;
    height: auto;
}